* {
    Font-family: monsterrat, sans-serif;
}

:root {
    --clr-green: #40ae9e;
    --clr-darkgreen: #1d8a7a;
}

body {
    margin: 0;
    Font-family: monsterrat, sans-serif;
    background-size: cover; 
    background-position: top center;
}

/* navbar */

nav {
    padding-top: 1em;
    padding-left: 3em;
    align-items: center;
    overflow: hidden;
    background-color: rgb(241, 241, 241);
    opacity: 100%;
}

.navbar img {
    float:left;
    padding-right: 20em;
}

.navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    Font-family: monsterrat, sans-serif;
    opacity: 100%;
    transition: 0.2s ease-in-out;
}

.navbar a:hover {
    background-color: var(--clr-green);
    border-radius: 5%;
}

.viniminilogo {
    width: 4em;
    padding-left: 3em;
    padding-bottom: 10px;
    cursor: pointer;
}

.formuliertext {
    font-size: 25px;
    color: var(--clr-darkgreen);
}

.formuliertext2 {
    font-size: 20px;
    font-weight: lighter;
    margin-top: 90px;
}

.testformulier {
    text-align: center;
    display: inline-block;
    width: 400px;
    height: 430px;
    border-radius: 5%;
    background: #ffffff;
    box-shadow: 0px 1px 20px 1px rgb(119, 119, 119);
    margin-left: 525px;
    margin-top: 75px;
}

.arrowdown {
    font-size: 23px;
}

.testbutton {
    background-color: white;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--clr-green);
    border-radius: 30px;
    border: 2px solid #40ae9e;
    height: 45px;
    width: 150px;
    cursor: pointer;
    margin-bottom: 100px;
    margin-top: 10px;
    transition: 0.2s ease-in-out;
    padding: 5px;
}

.testbutton:hover {
    background: var(--clr-green);
    color: white;
}

.vorigevraag {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--clr-green);
    border-radius: 30px;
    border: 2px solid #40ae9e;
    height: 45px;
    width: 150px;
    cursor: pointer;
    margin-bottom: 100px;
    margin-top: 30px;
    transition: 0.2s ease-in-out;
    padding: 5px;
}

.vorigevraag:hover {
    background: var(--clr-green);
    color: white;
}

.volgendevraag {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--clr-green);
    border-radius: 30px;
    border: 2px solid #40ae9e;
    height: 45px;
    width: 150px;
    cursor: pointer;
    margin-bottom: 100px;
    margin-top: 30px;
    transition: 0.2s ease-in-out;
    padding: 5px;
}

.volgendevraag:hover {
    background: var(--clr-green);
    color: white;
}